@page "/admin-details"
@using azara.admin.Helpers.Generic
@using azara.admin.Models.Account.Response
@using azara.admin.Models.Base.Request
@using azara.admin.Models.Base.Response

@if (Loader)
{
    <Loader></Loader>
}
else
{
    <div class="data-table-area">
        <div class="filter-area justify-end align-item-center">
            <div class="add-btn">
                <a href="admin-edit">edit</a>
            </div>
        </div>
        <div class="profile-section">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <div class="gray-box">
                        <h3>My Profile</h3>
                        <div class="profile-img-sec">
                            <div>
                                <img src='@(!string.IsNullOrWhiteSpace(adminDetailsResponse.ProfilePhoto) ? adminDetailsResponse.ProfilePhoto : "https://azaradocument.blob.core.windows.net/user/DefaultIMG.png")' class="user-img" alt="Profile Photo">
                            </div>
                            <p class="user-name">@adminDetailsResponse.UserName</p>
                        </div>
                        <div class="profile-dtl">
                            <div class="row">
                                <div class="col-xl-6">
                                    <p> UserName </p>
                                </div>
                                <div class="col-xl-6">
                                    <p>@adminDetailsResponse.UserName</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <p> Name </p>
                                </div>
                                <div class="col-xl-6">
                                    <p>@adminDetailsResponse.Name</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <p> Email Id </p>
                                </div>
                                <div class="col-xl-6">
                                    <p>@adminDetailsResponse.EmailId</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@code {

    private bool Loader { get; set; } = true;

    BaseIdRequest baseIdRequest = new BaseIdRequest();
    AdminDetailsResponse adminDetailsResponse = new AdminDetailsResponse();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await localStorage.GetItemAsync<string>("token");
            if (token != null && token != string.Empty && token == TokenResponse.Token)
            {
                await GetProfile();
                Loader = false;
            }
            else
            {
                await localStorage.ClearAsync();
                NavManager.NavigateTo("/");
            }
            StateHasChanged();
        }
    }

    #region Get Profile
    internal async Task GetProfile()
    {
        Loader = true;
        var result = await AccountHelper.GetProfilApi();
        if (result.meta.statusCode == StatusCodeConsts.UnAuthorized)
        {
            await localStorage.ClearAsync();
            NavManager.NavigateTo("/");
        }
        else
        {
            Loader = false;
            if (result.meta.statusCode == StatusCodeConsts.Success)
            {
                adminDetailsResponse = JsonConvert.DeserializeObject<AdminDetailsResponse>(result.data);
            }
            else
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", $"{result.meta.message}");
        }
        StateHasChanged();
    }
    #endregion


}
