@page "/profile"
@using System.Web

<PageTitle>@ClientTitleModel.ProfileTitle</PageTitle>


@if (Loader == true)
{
       <!-- Preloader Start -->
  <div id="preloader">
    <div class="main-container">
      <!-- Circle animation img start -->
      <img src="./images/Azara_Pattern_Animation.svg" class="loader-circle img-fluid">
      <!-- Circle animation img end -->
  
      <!-- Azara logo start -->
      <div class="center-logo">
        <img src="images/azara-logo.svg" class="img-fluid logo" alt="Azara Logo">
      </div>
      <!-- Azara logo end -->
    </div>
  </div>
  <!-- Preloader End -->
}
else
{
    <!--******************* Header Section Start *********************-->
    <header class="position-relative sm-margin">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="top-bar-header d-flex align-items-center justify-content-start">
                    <a href="#" class="bars custom-toggle-bar" @onclick="CustomToggleBar" s data-bs-toggle="modal" data-bs-target="#side-navigation-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <h1>Account & More</h1>
                </div>
            </div>
        </div>
    </header>
    <!--******************* Header Section End *********************-->
    <!--******************* Middle Section Start ******************-->
    <main class="custom-main-section">

        <!-- Account start -->
        <section class="position-relative xl-margin">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 mx-auto">
                        <div class="card accperson-card">
                            <div class="account-profile-img">
                                <img src="@loginResponse.Image" class="img-fluid" alt="Profile">
                            </div>
                            <div class="card-text">
                                <h2>@loginResponse.FirstName</h2>
                                <h6><a href="mailto:joshuacross@email.com"><img src="images/email-mystore-icon.svg" class="img-fluid" alt="Email">@loginResponse.EmailId</a></h6>
                                <h6><a href="tel:447975777666"><img src="images/call-mystore-icon.svg" class="img-fluid" alt="Phone">@loginResponse.MobileNumber</a></h6>
                            </div>
                        </div>
                        <!-- card -->
                        <!-- Account List start -->
                        <ul class="account-listing p-0 m-0">
                            <li><a href="profile-details">My Profile<img src="images/right-arrow.svg" class="img-fluid" alt="Arrow"></a></li>
                            @* <li><a href="deals">Deals<img src="images/right-arrow.svg" class="img-fluid" alt="Arrow"></a></li>*@
                            <li><a href="points">My Points<img src="images/right-arrow.svg" class="img-fluid" alt="Arrow"></a></li>
                            <li><a href="events_for_user">My Events<img src="images/right-arrow.svg" class="img-fluid" alt="Arrow"></a></li>
                            <li><a href="contest_for_user">Contests<img src="images/right-arrow.svg" class="img-fluid" alt="Arrow"></a></li>
                            <li><a href="refer-friend">Referal<img src="images/right-arrow.svg" class="img-fluid" alt="Arrow"></a></li>
                            <li><a href="product-request">Product Request<img src="images/right-arrow.svg" class="img-fluid" alt="Arrow"></a></li>
                            <li><a href="change-password">Change Password<img src="images/right-arrow.svg" class="img-fluid" alt="Arrow"></a></li>
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://azaraclient-production.azurewebsites.net/" target="_blank" class="d-inline-flex w-auto">Share App on Facebook</a>
                            </li>
                        </ul>
                        <div id="authStatus"></div>
                        <!-- Account List start -->
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
        </section>
        <!-- Account end -->
    </main>
    <!--******************* Middle Section End ******************-->
}

@code {

    LoginResponse loginResponse = new LoginResponse();

    bool Loader = true;
    string token, url, link;


    #region Initialization
    protected override async Task OnInitializedAsync()
    {
        token = await localStorage.GetItemAsync<string>("token");
        TokenResponse.Token = token;
        if (token != null && token != string.Empty && token == TokenResponse.Token)
        {
            string url = "https://blog.yudiz.com/";
            link = HttpUtility.UrlEncode(url);
            await GetProfile();
            Loader = false;
        }
        else
        {
            await localStorage.ClearAsync();
            NavManager.NavigateTo("/");
        }
        StateHasChanged();
    }
    #endregion

    #region Get Profile
    internal async Task GetProfile()
    {
        var result = await AccountHelpers.GetProfilApi();
        if (result.meta.statusCode == StatusCodeConsts.UnAuthorized)
        {
            await localStorage.ClearAsync();
            NavManager.NavigateTo("/");
        }
        else
        {
            if (result.meta.statusCode == StatusCodeConsts.Success)
            {
                loginResponse = JsonConvert.DeserializeObject<LoginResponse>(result.data);
            }
            else
            {
                await localStorage.ClearAsync();
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", $"{result.meta.message[0]}");
            }
        }
        StateHasChanged();
    }
    #endregion

    private async Task CheckLoginState()
    {

    }

    private void CustomToggleBar()
    {
        JsRuntime.InvokeVoidAsync("CustomToggleBar");
    }
}
