@page "/myreward-details/{Id}"
@layout LoginLayout

@using azara.client.Models.Coupons.Response


@if (Loader == true)
{
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="main-container">
            <!-- Circle animation img start -->
            <img src="./images/Azara_Pattern_Animation.svg" class="loader-circle img-fluid">
            <!-- Circle animation img end -->
            <!-- Azara logo start -->
            <div class="center-logo">
                <img src="images/azara-logo.svg" class="img-fluid logo" alt="Azara Logo">
            </div>
            <!-- Azara logo end -->
        </div>
    </div>
    <!-- Preloader End -->
}
else
{
    <main>
        <!-- Top Back Panel start -->
        <div class="position-fixed top-0 start-0 end-0 container">
            <div class="back-panel d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center justify-content-start">
                    <a onclick="backButton()" class="back"><img src="images/back-arrow.svg" class="img-fluid" alt="Back"></a>
                    <h1>Myreward Details</h1>
                </div>
                <a href="notification.html" class="account-label">
                    <img src="images/notification-icon.svg" class="img-fluid notification" alt="Notification">
                </a>
            </div>
        </div>
        <!-- Top Back Panel end -->
        <!-- Coupon Details start -->
        <section class="common-padding position-relative coupon-reward-details min-vh-100 md-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                        <!-- Coupon Reward Image Start -->
                        <div class="coupon-reward-img sm-margin">
                            <img src="@myRewardData.Image" class="img-fluid" alt="Coupon Reward">
                        </div>
                        <!-- Coupon Reward Image end -->
                    </div>
                    <div class="col-12 col-lg-6">
                        <!-- Coupons Name-->
                        <div class="coupon-expiry-date">
                            <h5>Coupons Name : </h5>
                            <h4>@myRewardData.Name</h4>
                        </div>
                        <!-- Coupons Name -->
                        <!-- Description start -->
                        <div class="coupon-description">
                            <h2>Description</h2>
                            <p>@myRewardData.Description</p>
                        </div>
                        <!-- Description end -->
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <div class="coupon-reward-btn-section">
                <a @onclick="e => OpenModel(myRewardData.Description, myRewardData.Barcode, myRewardData.StatusId,myRewardData.IsReward)" data-bs-toggle="modal" data-bs-target="#barcodeModal"
                   class="btn btn-common btn-barcode">Use Myreward</a>
            </div>
        </section>
        <!-- Coupon Details end -->
    </main>

    <!-- Modal End -->
    <!-- Barcode Modal start -->
    <div class="modal fade barcode-Modal" id="barcodeModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    @if (BarCode != null)
                    {
                        <SfBarcodeGenerator @ref="BarcodeInst" Value="@BarCode"
                                    Type="BarcodeType.Code128"
                                    Height="100px"
                                    Width="200px"
                                    ForeColor="Black">
                            <BarcodeGeneratorDisplayText Text="@BarCode"></BarcodeGeneratorDisplayText>
                        </SfBarcodeGenerator>

                    }
                    else
                    {
                        <p>No Barcode Here</p>
                    }
                    <p>@BarcodeDis</p>
                    <p>
                        <b>

                            To use reward, please show this screen to employee. They will need to scan and touch your screen to process your reward
                        </b>
                    </p>
                    <div class="container">
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="Enter Code" @bind-value=@useMyRewardRequest.StatusCode aria-label="Search" aria-describedby="search-input">
                        </div>
                    </div>
                    @if (BarCode != null)
                    {

                        <a data-bs-toggle="modal" data-bs-target="#barcodeModal" @onclick="UseMyReward" class="btn btn-common btn-barcode mt-3">Verify @Flag</a>
                    }

                </div>
            </div>
        </div>
    </div>
    <!-- Barcode Modal End -->
}
@code {

    [Parameter]
    public string Id { get; set; }
    bool Loader = false;
    string? MyRewardId, userId, BarCode = " ", BarcodeDis, Flag, SID;


    SfBarcodeGenerator BarcodeInst;
    MyRewardInsertRequest insertMyReward = new MyRewardInsertRequest();
    CouponsData couponsData = new CouponsData();
    MyRewardData myRewardData = new MyRewardData();
    UseMyRewardRequest useMyRewardRequest = new UseMyRewardRequest();

    MarkupString blogDescription => (MarkupString)couponsData.Description;

    protected override async Task OnInitializedAsync()
    {
        Loader = true;
        var token = await localStorage.GetItemAsync<string>("token");
        userId = await localStorage.GetItemAsync<string>("userId");


        Id = GenericHelper.Decipher(Id, 3);
        await MyrewardGetById();
        Loader = false;
        StateHasChanged();
    }

    internal async Task MyrewardGetById()
    {
        Loader = true;
        var result = await CommonHelpers.MyrewardsbyID(new BaseIdRequest { Id = new(Id) });
        if (result.meta.statusCode == StatusCodeConsts.UnAuthorized)
        {
            await localStorage.SetItemAsync("token", string.Empty);
            NavManager.NavigateTo("/");
        }
        else
        {
            if (result.meta.statusCode == StatusCodeConsts.Success)
            {
                myRewardData = JsonConvert.DeserializeObject<MyRewardData>(result.data);
            }
            else if (result.meta.statusCode == StatusCodeConsts.BadRequest)
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", $"{Loc["error_something_went_wrong"]}");
            else
                await JsRuntime.InvokeVoidAsync("ShowErrorConfirmationModel");
        }
        Loader = false;
        StateHasChanged();
    }

    private void OpenModel(string BarDis, string Barcode, string Status, string IsRewrad)
    {
        BarcodeDis = BarDis;
        BarCode = Barcode;
        SID = Status;
        if (IsRewrad == "true")
        {
            Flag = "Rewards";
        }
        else
        {
            Flag = "Coupons";
        }
    }


    private async Task UseMyReward()
    {
        Loader = true;
        useMyRewardRequest.UserId = userId;
        useMyRewardRequest.Status = Flag;
        useMyRewardRequest.StatusId = Guid.Parse(SID);
        useMyRewardRequest.Points = 0;
        var result = await CommonHelpers.UseMyReward(useMyRewardRequest);
        if (result.meta.statusCode == 401)
        {
            await localStorage.SetItemAsync("token", string.Empty);
            NavManager.NavigateTo("/");
        }
        else
        {
            Loader = false;
            if (result.meta.statusCode == 200)
            {
                if (!string.IsNullOrEmpty(insertMyReward.UserId))
                {
                    await JsRuntime.InvokeVoidAsync("ShowToastr", "success", "Reward is verified By ADMIN");
                    NavManager.NavigateTo("/");

                }
                else
                {
                    await JsRuntime.InvokeVoidAsync("ShowToastr", "success", "Reward is verified By ADMIN");
                    NavManager.NavigateTo("/");

                }
                //await LoadMyRewardData();
                StateHasChanged();
            }
            else
            {
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", $"{result.meta.message[0]}");
            }

            return;
        }
        StateHasChanged();

    }

    internal async Task AddCoupon(string id)
    {
        Loader = true;
        insertMyReward.UserId = userId;
        insertMyReward.CouponsId = Id;
        var result = await CommonHelpers.MyRewardAddApi(insertMyReward);

        if (result.meta.statusCode == 401)
        {
            await localStorage.SetItemAsync("token", string.Empty);
            NavManager.NavigateTo("/");
        }
        else
        {
            Loader = false;
            if (result.meta.statusCode == 200)
            {
                if (!string.IsNullOrEmpty(insertMyReward.UserId))
                {
                    await JsRuntime.InvokeVoidAsync("ShowToastr", "success", "Coupon Updated Successfully!");
                    NavManager.NavigateTo("/");

                }
                else
                {
                    await JsRuntime.InvokeVoidAsync("ShowToastr", "success", "Coupon Insert Successfully!");
                    NavManager.NavigateTo("/");

                }
            }
            else if (result.meta.statusCode == 500)
            {
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", $"{result.meta.message[0]}");
            }

            return;
        }
        StateHasChanged();
    }
}


