@page "/rewards/insert"
@page "/rewards/update/{Id}"
@using azara.admin.Helpers.Generic
@using azara.admin.Models.Base.Request
@using azara.admin.Models.Base.Response
@using azara.admin.Models.Rewards.Request


@*
//@if (Loader)
{
    <Loader></Loader>
}
else
{*@
    <div class="custom-section-wrap">
        <div class="d-flex justify-space-between align-item-center">
            <div class="page-title justify-content-center align-item-center">
                <h2 class="d-lg-block d-none">@(!string.IsNullOrWhiteSpace(Id) ? "Update Rewards : " : "Add Rewards")</h2>
                @if (!string.IsNullOrWhiteSpace(Id))
                {
                    <h4 class="ms-1">@Title</h4>
                }
                <span onclick="openNav()" class="d-lg-none d-block"><i class="fa fa-bars"></i></span>
            </div>
            <AdminProfile></AdminProfile>
        </div>
    </div>
    <div class="data-table-area">
        <EditForm class="form-details m-t-15" Model="rewardInsertUpdate" OnValidSubmit="AddUpdateData">
            <div class="filter-area justify-end align-item-center">
                <div class="add-btn">
                    <a href="/rewards" class="cancel-btn">Cancel</a>
                    <input type="submit" value="Submit" />
                </div>
            </div>
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Reward Name</label>
                        <InputText type="text" class="form-control without-ic" placeholder="Enter reward name" @bind-Value=rewardInsertUpdate.Name aria-describedby="storenamelabel" aria-label="Reward Name" />
                        <ValidationMessage For="@(() => rewardInsertUpdate.Name)" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <InputTextArea type="text" class="form-control without-ic" placeholder="Enter Description" @bind-Value=rewardInsertUpdate.Description aria-describedby="descriptionlabel" aria-label="Reward Description" />
                        <ValidationMessage For="@(() => rewardInsertUpdate.Description)" />
                    </div>
                    <div class="form-group">
                        <label>Reward Code</label>
                        <InputText class="form-control without-ic" placeholder="Enter Reward Code" @bind-Value=rewardInsertUpdate.Barcode aria-describedby="rewardlablelabel" aria-label="Reward Code" />
                        <ValidationMessage For="@(() => rewardInsertUpdate.Barcode)" />
                    </div>
                    <div class="form-group">
                        <label>Enter required ponts for Reward</label>
                        <InputNumber class="form-control without-ic" placeholder="Enter required ponts for Reward" @bind-Value=rewardInsertUpdate.RewardsPoint aria-describedby="rewardlablepoint" aria-label="Enter required ponts for Reward" />
                        <ValidationMessage For="@(() => rewardInsertUpdate.RewardsPoint)" />
                    </div>
                    @*<div class="form-group">
                        <label>Status</label>
                        <label class="switch">
                            <InputCheckbox class="form-control without-ic" placeholder="Enter Status"
                                       rows="12" @bind-Value=rewardInsertUpdate.Status aria-describedby="rewardstatuslabel" checked="@rewardInsertUpdate.Status" aria-label="Status" />
                            <span class="slider round"></span>
                        </label>
                    </div>*@
                </div>
                <div class="col-md-6">
                    <label>Reward Image</label>
                    <div id="file-upload-form" class="uploader">
                        <InputFile id="file-upload" type="file" name="fileUpload" accept="image/*" OnChange="HandleImageUpload" />
                        <ValidationMessage For="@(() => rewardInsertUpdate.Image)" />
                        <label for="file-upload" id="file-drag">
                            @if (!string.IsNullOrWhiteSpace(rewardInsertUpdate.Image))
                            {
                                <button type="button" class="file-close-btn" @onclick="DeleteImage">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            }
                            <img id="file-image" src="@rewardInsertUpdate.Image" alt="" class="@((string.IsNullOrEmpty(rewardInsertUpdate.Image)? "hidden" : ""))" @bind-Value="rewardInsertUpdate.Image" @bind-Value:event="OnInput">
                            <div id="start">
                                @*<img src="images/choose-file.png" class="file-img" alt="file-img">*@
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                <div>Drag & Drop Here or </div>
                                <div id="notimage" class="hidden">Please select an image</div>
                                <a id="file-upload-btn" class="">CHoose a file</a>
                                <p class="second-theme-color">max. 2GB</p>
                            </div>
                            <div id="response" class="hidden d-none">
                                <div id="messages"></div>
                                <progress class="progress" id="file-progress" value="0">
                                    <span>0</span>%
                                </progress>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
@*}*@


@code {

    [Parameter]
    public string Id { get; set; }

    private bool Loader { get; set; } = true;
    public string Title { get; set; }
    RewardInsertUpdateRequest rewardInsertUpdate = new RewardInsertUpdateRequest();
    BaseImageUploadRequest baseImageUpload { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await localStorage.GetItemAsync<string>("token");
            if (token != null && token != string.Empty && token == TokenResponse.Token)
            {
                await LoadData();
                Loader = false;
            }
            else
            {
                await localStorage.ClearAsync();
                NavManager.NavigateTo("/");
            }
            StateHasChanged();
        }
    }

    private async Task LoadData()
    {
        Loader = true;
        if (!string.IsNullOrWhiteSpace(Id))
        {
            Id = GenericHelper.Decipher(Id, 3);
            rewardInsertUpdate.Id = Id;
            Loader = false;
            var result = await RewardHelpers.RewardsGetById(new BaseIdRequest { Id = new(Id) });
            if (result.meta.statusCode == StatusCodeConsts.Success)
            {
                rewardInsertUpdate = JsonConvert.DeserializeObject<RewardInsertUpdateRequest>(result.data);
                Title = rewardInsertUpdate.Name;
            }
            else if (result.meta.statusCode == StatusCodeConsts.BadRequest)
            {
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "Reward not found");
                return;
            }
            else
            {
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "Something went wrong");
                return;
            }
        }
        else
        {
            Loader = false;
            Title = "Add New Reward";
            rewardInsertUpdate = new RewardInsertUpdateRequest();
        }
    }

    internal async Task AddUpdateData()
    {
        Loader = true;
        rewardInsertUpdate.Id = Id;
        var result = await RewardHelpers.RewardAddUpdateApi(rewardInsertUpdate);

        if (result.meta.statusCode == 401)
        {
            await localStorage.ClearAsync();
            NavManager.NavigateTo("/");
        }
        else
        {
            Loader = false;
            if (result.meta.statusCode == 200)
            {
                if (!string.IsNullOrEmpty(rewardInsertUpdate.Id))
                {
                    await JsRuntime.InvokeVoidAsync("ShowToastr", "success", "Rewards Updated Successfully!");
                }
                else
                {
                    await JsRuntime.InvokeVoidAsync("ShowToastr", "success", "Rewards Insert Successfully!");
                }
                NavManager.NavigateTo("/rewards");
            }
            //else if (result.meta.statusCode == 500)
            //{
            //    if (result.meta.message[0].Equals("Please enter valid location"))
            //    {
            //        await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "Please enter valid location!");
            //    }
            //}
            else
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", $"{result.meta.message[0]}");
            return;
        }
    }

    int imageCount = 12;
    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        try
        {
            var images = rewardInsertUpdate.ImageList != null && rewardInsertUpdate.ImageList.Any() ? rewardInsertUpdate.ImageList : new List<string>();

            if (e.GetMultipleFiles().Count > 0)
            {
                foreach (var file in e.GetMultipleFiles())
                {
                    FileInfo fileInfo = new FileInfo(file.Name);
                    if (fileInfo.Extension == ".jpg" ||
                        fileInfo.Extension == ".png" ||
                        fileInfo.Extension == ".jpeg")
                    {
                        var files = e.GetMultipleFiles(imageCount).ToList();
                        List<string> imageList = new List<string>();
                        if (files != null && files.Count > 0)
                        {
                            foreach (var item in files)
                            {
                                var fileRequest = new FileNewInsertUploadRequest { File = new List<IBrowserFile> { item }, FileName = new List<string> { item.Name }, FolderName = BlobContainerConsts.Reward, OldFileName = rewardInsertUpdate.ImageList };

                                var result = await CommonHelpers.UploadNewFileApi(fileRequest);

                                if (result != null)
                                {
                                    FileListResponse response = JsonConvert.DeserializeObject<FileListResponse>(result.data);

                                    if (response != null && response.Details != null && response.Details.Count > 0)
                                    {
                                        imageList.Add(response.Details.FirstOrDefault().FilePath);
                                    }
                                    rewardInsertUpdate.Image = response.Details[0].FilePath;

                                }
                            }
                            StateHasChanged();
                        }
                    }
                    else
                    {
                        await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "Please select the .jpg, .png & .jpeg images");
                        return;
                    }
                }
            }
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("ShowToastr", "error", ex.Message);
            return;
        }
    }

    private async Task DeleteImage()
    {
        rewardInsertUpdate.Image = new CommonHelpers(FileUpload).DeleteImage(rewardInsertUpdate.Image);
    }

}
