@page "/company_pos"
@using azara.client.Models.QuickBooksPOS

@layout LoginLayout

<div class="data-table-area" style="background: #91bb3f">
    <div class="data-table" background-color:yellow>
        <table id="table-1" border="1" cellpadding="15px" class="table product-custom-table store-cate-table" style="width:100% auto">
            <thead>
                <tr style="font-size:small; font-size-adjust: inherit; font-display:auto">
                    <th>QODBCSerialNo</th>
                    <th>QODBCEdition</th>
                    <th>QuickBooksCompanyFile</th>
                    <th>StoreNumber</th>
                    <th>StoreCode</th>
                    <th>Store01StoreNumber</th>
                    <th>Store01StoreCode</th>
                    <th>Store01StoreName</th>
                    <th>Store01AddressStreet</th>
                    <th>Store01CityStateZIP</th>
                    <th>Store01Misc1</th>
                    <th>Store01Misc2</th>
                    <th>Store01Misc3</th>
                    <th>Store02StoreNumber</th>
                    <th>Store02StoreCode</th>
                    <th>Store02StoreName</th>
                    <th>Store02AddressStreet</th>
                    <th>Store02CityStateZIP                               </th>
                    <th>Store02Misc1                                      </th>
                    <th>Store02Misc2                                      </th>
                    <th>Store02Misc3                                      </th>
                    <th>Store03StoreNumber                                </th>
                    <th>Store03StoreCode                                  </th>
                    <th>Store03StoreName                                  </th>
                    <th>Store03AddressStreet                              </th>
                    <th>Store03CityStateZIP                               </th>
                    <th>Store03Misc1                                      </th>
                    <th>Store03Misc2                                      </th>
                    <th>Store03Misc3                                      </th>
                    <th>Store04StoreNumber                                </th>
                    <th>Store04StoreCode                                  </th>
                    <th>Store04StoreName                                  </th>
                    <th>Store04AddressStreet                              </th>
                    <th>Store04CityStateZIP                               </th>
                    <th>Store04Misc1                                      </th>
                    <th>Store04Misc2                                      </th>
                    <th>Store04Misc3                                      </th>
                    <th>Store05StoreNumber                                </th>
                    <th>Store05StoreCode                                  </th>
                    <th>Store05StoreName                                  </th>
                    <th>Store05AddressStreet                              </th>
                    <th>Store05CityStateZIP                               </th>
                    <th>Store05Misc1                                      </th>
                    <th>Store05Misc2                                      </th>
                    <th>Store05Misc3                                      </th>
                    <th>Store06StoreNumber                                </th>
                    <th>Store06StoreCode                                  </th>
                    <th>Store06StoreName                                  </th>
                    <th>Store06AddressStreet                              </th>
                    <th>Store06CityStateZIP                               </th>
                    <th>Store06Misc1                                      </th>
                    <th>Store06Misc2                                      </th>
                    <th>Store06Misc3                                      </th>
                    <th>Store07StoreNumber                                </th>
                    <th>Store07StoreCode                                  </th>
                    <th>Store07StoreName                                  </th>
                    <th>Store07AddressStreet                              </th>
                    <th>Store07CityStateZIP                               </th>
                    <th>Store07Misc1                                      </th>
                    <th>Store07Misc2                                      </th>
                    <th>Store07Misc3                                      </th>
                    <th>Store08StoreNumber                                </th>
                    <th>Store08StoreCode                                  </th>
                    <th>Store08StoreName                                  </th>
                    <th>Store08AddressStreet                              </th>
                    <th>Store08CityStateZIP                               </th>
                    <th>Store08Misc1                                      </th>
                    <th>Store08Misc2                                      </th>
                    <th>Store08Misc3                                      </th>
                    <th>Store09StoreNumber                                </th>
                    <th>Store09StoreCode                                  </th>
                    <th>Store09StoreName                                  </th>
                    <th>Store09AddressStreet                              </th>
                    <th>Store09CityStateZIP                               </th>
                    <th>Store09Misc1                                      </th>
                    <th>Store09Misc2                                      </th>
                    <th>Store09Misc3                                      </th>
                    <th>Store10StoreNumber                                </th>
                    <th>Store10StoreCode                                  </th>
                    <th>Store10StoreName                                  </th>
                    <th>Store10AddressStreet                              </th>
                    <th>Store10CityStateZIP                               </th>
                    <th>Store10Misc1                                      </th>
                    <th>Store10Misc2                                      </th>
                    <th>Store10Misc3                                      </th>
                    <th>PriceLevel1Name                                   </th>
                    <th>PriceLevel1Markdown                               </th>
                    <th>PriceLevel2Name                                   </th>
                    <th>PriceLevel2Markdown                               </th>
                    <th>PriceLevel3Name                                   </th>
                    <th>PriceLevel3Markdown                               </th>
                    <th>PriceLevel4Name4                                  </th>
                    <th>PriceLevel4Markdown                               </th>
                    <th>PurchaseOrderStatusInfoStatusType                 </th>
                    <th>PurchaseOrderStatusInfoStatusDescription          </th>
                    <th>LayawayStatusInfoStatusType                       </th>
                    <th>LayawayStatusInfoStatusDescription                </th>
                    <th>SalesOrderStatusInfoStatusType                    </th>
                    <th>SalesOrderStatusInfoStatusDescription             </th>
                    <th>WorkOrderStatusInfoStatusType                     </th>
                    <th>WorkOrderStatusInfoStatusDescription              </th>
                    <th>WorkOrderStatusInfoStatusDescription              </th>
                </tr>
            </thead>
            <tbody>
                @if (pOSCompanyResponse.Details != null)
                {
                    @if (pOSCompanyResponse.Details.Count != 0)
                    {
                        @foreach (var data in pOSCompanyResponse.Details)
                        {
                            <tr>
                                <td>@data.QODBCSerialNo</td>
                                <td>@data.QODBCEdition										</td>
                                <td>@data.QuickBooksCompanyFile                             </td>
                                <td>@data.StoreNumber                                       </td>
                                <td>@data.StoreCode                                         </td>
                                <td>@data.Store01StoreNumber                                </td>
                                <td>@data.Store01StoreCode                                  </td>
                                <td>@data.Store01StoreName                                  </td>
                                <td>@data.Store01AddressStreet                              </td>
                                <td>@data.Store01CityStateZIP                               </td>
                                <td>@data.Store01Misc1                                      </td>
                                <td>@data.Store01Misc2                                      </td>
                                <td>@data.Store01Misc3                                      </td>
                                <td>@data.Store02StoreNumber                                </td>
                                <td>@data.Store02StoreCode                                  </td>
                                <td>@data.Store02StoreName                                  </td>
                                <td>@data.Store02AddressStreet                              </td>
                                <td>@data.Store02CityStateZIP                               </td>
                                <td>@data.Store02Misc1                                      </td>
                                <td>@data.Store02Misc2                                      </td>
                                <td>@data.Store02Misc3                                      </td>
                                <td>@data.Store03StoreNumber                                </td>
                                <td>@data.Store03StoreCode                                  </td>
                                <td>@data.Store03StoreName                                  </td>
                                <td>@data.Store03AddressStreet                              </td>
                                <td>@data.Store03CityStateZIP                               </td>
                                <td>@data.Store03Misc1                                      </td>
                                <td>@data.Store03Misc2                                      </td>
                                <td>@data.Store03Misc3                                      </td>
                                <td>@data.Store04StoreNumber                                </td>
                                <td>@data.Store04StoreCode                                  </td>
                                <td>@data.Store04StoreName                                  </td>
                                <td>@data.Store04AddressStreet                              </td>
                                <td>@data.Store04CityStateZIP                               </td>
                                <td>@data.Store04Misc1                                      </td>
                                <td>@data.Store04Misc2                                      </td>
                                <td>@data.Store04Misc3                                      </td>
                                <td>@data.Store05StoreNumber                                </td>
                                <td>@data.Store05StoreCode                                  </td>
                                <td>@data.Store05StoreName                                  </td>
                                <td>@data.Store05AddressStreet                              </td>
                                <td>@data.Store05CityStateZIP                               </td>
                                <td>@data.Store05Misc1                                      </td>
                                <td>@data.Store05Misc2                                      </td>
                                <td>@data.Store05Misc3                                      </td>
                                <td>@data.Store06StoreNumber                                </td>
                                <td>@data.Store06StoreCode                                  </td>
                                <td>@data.Store06StoreName                                  </td>
                                <td>@data.Store06AddressStreet                              </td>
                                <td>@data.Store06CityStateZIP                               </td>
                                <td>@data.Store06Misc1                                      </td>
                                <td>@data.Store06Misc2                                      </td>
                                <td>@data.Store06Misc3                                      </td>
                                <td>@data.Store07StoreNumber                                </td>
                                <td>@data.Store07StoreCode                                  </td>
                                <td>@data.Store07StoreName                                  </td>
                                <td>@data.Store07AddressStreet                              </td>
                                <td>@data.Store07CityStateZIP                               </td>
                                <td>@data.Store07Misc1                                      </td>
                                <td>@data.Store07Misc2                                      </td>
                                <td>@data.Store07Misc3                                      </td>
                                <td>@data.Store08StoreNumber                                </td>
                                <td>@data.Store08StoreCode                                  </td>
                                <td>@data.Store08StoreName                                  </td>
                                <td>@data.Store08AddressStreet                              </td>
                                <td>@data.Store08CityStateZIP                               </td>
                                <td>@data.Store08Misc1                                      </td>
                                <td>@data.Store08Misc2                                      </td>
                                <td>@data.Store08Misc3                                      </td>
                                <td>@data.Store09StoreNumber                                </td>
                                <td>@data.Store09StoreCode                                  </td>
                                <td>@data.Store09StoreName                                  </td>
                                <td>@data.Store09AddressStreet                              </td>
                                <td>@data.Store09CityStateZIP                               </td>
                                <td>@data.Store09Misc1                                      </td>
                                <td>@data.Store09Misc2                                      </td>
                                <td>@data.Store09Misc3                                      </td>
                                <td>@data.Store10StoreNumber                                </td>
                                <td>@data.Store10StoreCode                                  </td>
                                <td>@data.Store10StoreName                                  </td>
                                <td>@data.Store10AddressStreet                              </td>
                                <td>@data.Store10CityStateZIP                               </td>
                                <td>@data.Store10Misc1                                      </td>
                                <td>@data.Store10Misc2                                      </td>
                                <td>@data.Store10Misc3                                      </td>
                                <td>@data.PriceLevel1Name                                   </td>
                                <td>@data.PriceLevel1Markdown                               </td>
                                <td>@data.PriceLevel2Name                                   </td>
                                <td>@data.PriceLevel2Markdown                               </td>
                                <td>@data.PriceLevel3Name                                   </td>
                                <td>@data.PriceLevel3Markdown                               </td>
                                <td>@data.PriceLevel4Name4                                  </td>
                                <td>@data.PriceLevel4Markdown                               </td>
                                <td>@data.PurchaseOrderStatusInfoStatusType                 </td>
                                <td>@data.PurchaseOrderStatusInfoStatusDescription          </td>
                                <td>@data.LayawayStatusInfoStatusType                       </td>
                                <td>@data.LayawayStatusInfoStatusDescription                </td>
                                <td>@data.SalesOrderStatusInfoStatusType                    </td>
                                <td>@data.SalesOrderStatusInfoStatusDescription             </td>
                                <td>@data.WorkOrderStatusInfoStatusType                     </td>
                                <td>@data.WorkOrderStatusInfoStatusDescription              </td>
                                <td>@data.WorkOrderStatusInfoStatusDescription              </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center text-danger" colspan=8><h4>No Data Found</h4></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@if (Loader == true)
{
       <!-- Preloader Start -->
  <div id="preloader">
    <div class="main-container">
      <!-- Circle animation img start -->
      <img src="./images/Azara_Pattern_Animation.svg" class="loader-circle img-fluid">
      <!-- Circle animation img end -->
  
      <!-- Azara logo start -->
      <div class="center-logo">
        <img src="images/azara-logo.svg" class="img-fluid logo" alt="Azara Logo">
      </div>
      <!-- Azara logo end -->
    </div>
  </div>
  <!-- Preloader End -->}

@code
{
    POSCompanyResponse pOSCompanyResponse = new POSCompanyResponse();
    bool Loader = true;
    string token;

    protected override async Task OnInitializedAsync()
    {
        token = await localStorage.GetItemAsync<string>("token");
        TokenResponse.Token = token;
        Loader = true;
        await LoadData();
        Loader = false;

        StateHasChanged();
    }

    internal async Task LoadData()
    {
        Loader = true;
        var result = await POSCustomerHelpers.CompanyListAPI();
        if (result.meta.statusCode == StatusCodeConsts.UnAuthorized)
        {
            await localStorage.SetItemAsync("token", string.Empty);
            NavManager.NavigateTo("/");
        }
        else
        {
            if (result.meta.statusCode == StatusCodeConsts.Success)
            {
                pOSCompanyResponse = JsonConvert.DeserializeObject<POSCompanyResponse>(result.data);

            }
            else if (result.meta.statusCode == StatusCodeConsts.BadRequest)
            {
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", $"{Loc["error_something_went_wrong"]}");
            }
            else
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", $"{Loc["error_something_went_wrong"]}");
        }
        Loader = false;
        StateHasChanged();
    }



}