@page "/contact-request-view/{Id}"

@using azara.admin.Helpers.Generic
@using azara.admin.Models.Base.Request
@using azara.admin.Models.Base.Response
@using azara.admin.Models.ContactRequest.Response
@using azara.admin.Models.Event.Request
@using azara.admin.Models.Const

<PageTitle>@AdminTitleModel.ContactUsTitle</PageTitle>

@if (Loader)
{
    <Loader></Loader>
}
else
{
    <div class="custom-section-wrap">
        <div class="d-flex justify-space-between align-item-center">
            <div class="page-title justify-content-center align-item-center">
                <h2 class="d-lg-block d-none">View Contact Request of : </h2><h4 class="ms-1">@Title</h4>
                <span onclick="openNav()" class="d-lg-none d-block"><i class="fa fa-bars"></i></span>
            </div>
            <AdminProfile></AdminProfile>
        </div>
    </div>

    <div style="margin-top: 2%;">
        <div class="filter-area justify-end align-item-center">
            <div class="add-btn">
                @*<input type="submit" value="Submit Image" />*@
                <a href="/contact-request">Cancel</a>
            </div>
        </div>
    </div>
    <div class="data-table-area">
        <div class="gray-bg">
            <div class="filter-area justify-end align-item-center">
            </div>
            <form class="form-details m-t-15">
                <div class="row form-details-box">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <p>@ViewResponse.Name</p>
                        </div>
                        <div class="form-group">
                            <label>Event Date</label>
                            <p>@ViewResponse.EmailId</p>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <p>@ViewResponse.Description</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private bool Loader { get; set; } = true;
    public string Title { get; set; }
    ContactData ViewResponse { get; set; } = new ContactData();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await localStorage.GetItemAsync<string>("token");
            if (token != null && token != string.Empty && token == TokenResponse.Token)
            {
                await LoadData();
                Loader = false;
            }
            else
            {
                await localStorage.ClearAsync();
                NavManager.NavigateTo("/");
            }
            StateHasChanged();
        }
    }

    private async Task LoadData()
    {
        Loader = true;
        if (!string.IsNullOrWhiteSpace(Id))
        {
            Id = GenericHelper.Decipher(Id, 3);
            ViewResponse.Id = Id;
            Loader = false;
            var result = await ContactRequestHelpers.GetContactRequest(new BaseIdRequest { Id = new(Id) });
            if (result.meta.statusCode == StatusCodeConsts.Success)
            {
                ViewResponse = JsonConvert.DeserializeObject<ContactData>(result.data);
                Title = ViewResponse.Name;
            }
            else if (result.meta.statusCode == StatusCodeConsts.BadRequest)
            {
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "Contact Request not found");
                return;
            }
            else
            {
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "Something went wrong");
                return;
            }
        }
    }
}
