@page "/contest/view/{Id}"

@using azara.admin.Helpers.Generic
@using azara.admin.Models.Base.Request
@using azara.admin.Models.Base.Response
@using azara.admin.Models.Contest.Request
@using azara.admin.Models.Const
@using azara.models.Responses.Store;

<PageTitle>@AdminTitleModel.ContestTitle</PageTitle>

@if (Loader)
{
    <Loader></Loader>
}
else
{
    <div class="custom-section-wrap">
        <div class="d-flex justify-space-between align-item-center">
            <div class="page-title justify-content-center align-item-center">
                <h2 class="d-lg-block d-none">View Contest : </h2><h4 class="ms-1">@Title</h4>
                <span onclick="openNav()" class="d-lg-none d-block"><i class="fa fa-bars"></i></span>
            </div>
            <AdminProfile></AdminProfile>
        </div>
    </div>
    <div class="data-table-area">
        <div class="gray-bg">
            <div class="filter-area justify-end align-item-center">
                <div class="add-btn">
                    <a @onclick='e => UpdateByID(Id)' class="cancel-btn btn text-light">Edit</a>
                    <a href="/contest">Cancel</a>
                </div>
            </div>
            <form class="form-details m-t-15">
                <div class="row form-details-box">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Contest Name</label>
                            <p>@ViewResponse.ContestName</p>
                        </div>
                        <div class="form-group">
                            <label>Descriptions</label>
                            <p>@ViewResponse.Description</p>
                        </div>
                        <div class="form-group">
                            <label>Contest Type</label>
                            <p>@ViewResponse.ContestType</p>
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <p>@ViewResponse.Location</p>
                        </div>
                         <div class="form-group">
                            <label>Store Name</label>
                            @foreach( var store in StoreNameList)
                            {
                                <p>@(!string.IsNullOrWhiteSpace(store) ? store : store)</p>
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Image</label>
                            @if (!string.IsNullOrWhiteSpace(ViewResponse.Image))
                            {
                                <div id="file-upload-form" class="uploader">
                                    <label for="file-upload" id="file-drag">
                                        <img src="@ViewResponse.Image" id="file-image" />
                                    </label>
                                </div>
                            }
                            else
                            {
                                <div>No Image</div>
                            }
                        </div>
                        @*<div class="form-group">
                            <label>Status</label>
                            <label class="switch">
                                <input class="form-control without-ic" placeholder="Enter Status"
                                   rows="12" aria-describedby="statuslabel" checked="@ViewResponse.Active" aria-label="Status" type="checkbox" disabled />
                                <span class="slider round"></span>
                            </label>
                        </div>*@
                    </div>
                </div>
            </form>
        </div>
    </div>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private bool Loader { get; set; } = false;
    public string Title { get; set; }
    ContestInsertUpdateRequest ViewResponse { get; set; } = new ContestInsertUpdateRequest();
    public List<string>? Store { get; set; }
    private string StoreName { get; set; }
    public List<string>? StoreNameList { get; set; } = new List<string>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await localStorage.GetItemAsync<string>("token");
            if (token != null && token != string.Empty)
            {
                await LoadData();
                Loader = false;
            }
            else
            {
                await localStorage.ClearAsync();
                NavManager.NavigateTo("/");
            }
            StateHasChanged();
        }
    }

    private async Task LoadData()
    {
        Loader = true;
        if (!string.IsNullOrWhiteSpace(Id))
        {
            Id = GenericHelper.Decipher(Id, 3);
            ViewResponse.Id = Id;
            Loader = false;
            var result = await ContestHelpers.ContestGetById(new BaseIdRequest { Id = new(Id) });
            if (result.meta.statusCode == StatusCodeConsts.Success)
            {
                ViewResponse = JsonConvert.DeserializeObject<ContestInsertUpdateRequest>(result.data);
                Title = ViewResponse.ContestName;
                Store = JsonConvert.DeserializeObject<List<string>>(ViewResponse.StoreDropdownId);
                if (ViewResponse != null)
                {
                    foreach (var store in Store)
                    {
                        var storeData = await StoreHelpers.StoreGetById(new BaseIdRequest { Id = Guid.Parse(store) });
                        if (storeData.meta.statusCode == StatusCodeConsts.Success)
                        {
                            var storeDetails = JsonConvert.DeserializeObject<StoreGetByIdResponse>(storeData.data);
                            StoreName = storeDetails.Name;
                            StoreNameList.Add(storeDetails.Name);
                        }
                    }
                }
            }
            else if (result.meta.statusCode == StatusCodeConsts.BadRequest)
            {
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "Contest not found");
                return;
            }
            else
            {
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "Something was wrong");
                return;
            }
        }
    }

    internal void UpdateByID(string id)
    {
        int key = 3;
        var cipheredId = GenericHelper.Encipher(id, key);
        NavManager.NavigateTo($"/contest/update/{cipheredId}");
        StateHasChanged();
    }
}
