@page "/user-list"

@using azara.admin.Helpers.Generic
@using azara.admin.Models.Base.Request
@using azara.admin.Models.Base.Response
@using azara.admin.Models.Shared
@using azara.admin.Models.User.Request
@using azara.admin.Models.User.Response
@using azara.models.Responses.User
@using azara.admin.Models.Const

<PageTitle>@AdminTitleModel.UserTitle</PageTitle>
@*
//@if (Loader)
{
    <Loader></Loader>
}
else
{*@
    <!--******************* Middle Section Start ******************-->
    <div class="custom-section-wrap">
        <div class="d-flex justify-space-between align-item-center">
            <div class="page-title">
                <h2 class="d-lg-block d-none">Manage User</h2>
                <span onclick="openNav()" class="d-lg-none d-block"><i class="fa fa-bars"></i></span>
            </div>
            <AdminProfile></AdminProfile>
        </div>
    </div>
    <h2 class="d-lg-none d-block mt-3">Manage User</h2>
    <div class="data-table-area">
        <div class="filter-area align-item-center">

            <div class="head-topbar-search">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" class="form-custom" placeholder="Search" @bind-value="@listRequest.Name" />
            </div>
            <div class="justify-end flex-column flex-md-row ml-1">

                <div class="add-btn">
                    <a class="text-white cursor-pointer m-0" @onclick="SearchData">Search</a>
                </div>
            </div>
            <div class="justify-end flex-column flex-md-row ml-1">

                <div class="add-btn">
                    <a class="text-white cursor-pointer m-0" @onclick="Clear">Clear</a>
                </div>
            </div>

            <div class="justify-end flex-column flex-md-row ml-auto mr-0">

                <div class="add-btn">
                    <a href="/user/insert">Add User</a>
                </div>
            </div>
        </div>
        <CountDropdown ParentPagingSizeParameter="@pagingParameter.PageSize" ChangePageSize="ChangePageSize"></CountDropdown>

        <div class="data-table">
            <table id="table-1" class="table  product-custom-table" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">Sr No</th>
                        <th @onclick="@(() => SortBy("name"))">
                            Name
                            <i class="fa fa-sort"></i>
                        </th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Referal Code</th>
                        <th @onclick="@(() => SortBy("count"))">
                            Refer Count
                            <i class="fa fa-sort"></i>
                        </th>
                        <th @onclick="@(() => SortBy("signup_date"))">
                            SignUp Date
                            <i class="fa fa-sort"></i>
                        </th>
                        @if (!IsDeleted)
                        {
                            <th scope="col">Status</th>
                        }
                        <th class="action">Action</th>
                    </tr>
                </thead>
                @if (userListResponse.Details != null && userListResponse.Details.Any())
                {
                    @if (userListResponse.Details.Count != 0)
                    {
                        @foreach (var user in userListResponse.Details)
                        {
                            <tbody>
                                <tr>
                                    <th scope="row">@user.SrNo</th>
                                    <td>@user.firstName</td>
                                    <td>@user.emailId</td>
                                    <td>@user.mobileNumber</td>
                                    <td>@user.referraCode</td>
                                    <td>@user.count</td>
                                    <td>@user.created.ToString("dd/MM/yyyy")</td>
                                    @if (!IsDeleted)
                                    {
                                        <td class="access-req">
                                            <div class="switch-icon">
                                                <label class="switch">
                                                    <input type="checkbox" id="tableActiveInactiveId-@user.SrNo" checked="@user.active" @onchange="((e) => StatusUpdate(user,(bool) e.Value))">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </td>
                                    }
                                    <td>
                                        <div class="view-btn btn">
                                            <a @onclick='e => UpdateByID(user.id.ToString(), "view")'><img src="images/eye-ic.png" alt="eye-ic" /></a>
                                        </div>
                                        <div class="view-btn edit-btn btn">
                                            <a @onclick='e => UpdateByID(user.id.ToString(), "edit")'><img src="images/edit-ic.png" alt="edit-ic" /></a>
                                        </div>
                                        <div class="view-btn delete-btn btn">
                                            <a @onclick="(() => UpdateByID(user.id.ToString()))" data-toggle="modal" data-target="#donate-modal">
                                                <img src="images/delete-ic.png" alt="delete-ic" />
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center text-danger" colspan=7><h4>No Data Found</h4></td>
                        </tr>
                    }
                }
            </table>
            <Pagination ParentpagingParameter="pagingParameter" PageNumber="pagingParameter.PageNumber" SetPageChanged="SetPage"></Pagination>
        </div>
        <p>
            @($"Showing {pagingParameter.FirstItemNumber} - {pagingParameter.LastItemNumber} of {pagingParameter.TotalCount}")
        </p>
    </div>
    <!-- Modal Content-->
    <div class="modal donate-modal" id="donate-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="() => OnConfirmationChange(false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="donate-blk del-img">
                        <img src="images/delete-ico.svg" alt="delete-ico" />
                    <h6>Are you sure you want to delete this @(DeleteUser) User?</h6>
                        <div class="d-flex justify-content-center">
                            <button data-dismiss="modal" class="del-btn" @onclick="() => OnConfirmationChange(true)">delete</button>
                            <button data-dismiss="modal" @onclick="() => OnConfirmationChange(false)">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*}*@

@code {

    UserListResponse userListResponse = new UserListResponse();
    UserGetListRequest listRequest = new UserGetListRequest();
    public PagingParameter pagingParameter { get; set; } = new PagingParameter();
    BaseStatusUpdateRequest statusUpdateRequest = new BaseStatusUpdateRequest();


    protected string DeleteUserId { get; set; }
    protected string DeleteUser { get; set; }
    bool IsShowTable = false;
    int PageSize = 10;
    bool Loader = true, IsDeleted = false;
    private bool IsOpenDropDown { get; set; } = false;
    public List<UserResponse> Users { get; set; } = new List<UserResponse>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await localStorage.GetItemAsync<string>("token");
            if (token == null)
                NavManager.NavigateTo("/user-list");
            else
            {
                TokenResponse.Token = token;
                await LoadData();
            }
            StateHasChanged();
        }
    }

    internal void UpdateByID(string id, string value = null)
    {
        int key = 3;
        var cipheredId = GenericHelper.Encipher(id, key);
        if (!string.IsNullOrWhiteSpace(value))
        {
            if (value.Equals("view"))
                NavManager.NavigateTo($"/user/view/{cipheredId}");
            if (value.Equals("edit"))
                NavManager.NavigateTo($"/user/update/{cipheredId}");
        }
        else
        {
            DeleteUserId = id;
        }

        StateHasChanged();
    }

    internal async Task StatusUpdate(UserListData userData, bool isApproved)
    {
        //statusUpdateRequest.Id = userData.id;
        statusUpdateRequest.Id = new(userData.id.ToString());
        statusUpdateRequest.Active = isApproved;

        var result = await UserHelpers.UserStatusUpdate(statusUpdateRequest);
        if (result.meta.statusCode == StatusCodeConsts.UnAuthorized)
        {
            await localStorage.ClearAsync();
            NavManager.NavigateTo("/");
        }
        else
        {
            if (result.meta.statusCode == StatusCodeConsts.Success)
            {
                if (isApproved)
                    await JsRuntime.InvokeVoidAsync("ShowToastr", "success", $"{userData.firstName + userData.lastName} is now active.");
                else
                    await JsRuntime.InvokeVoidAsync("ShowToastr", "success", $"{userData.firstName + userData.lastName} is now inactive.");
            }
            else if (result.meta.statusCode == StatusCodeConsts.BadRequest)
            {
                await JsRuntime.InvokeVoidAsync("Warning");
                await JsRuntime.InvokeVoidAsync("BaseActiveInactive", "tableActiveInactiveId-"+userData.SrNo.ToString(), userData.active);
            }
            else
                await JsRuntime.InvokeVoidAsync("ShowErrorConfirmationModel");
        }
    }

    protected void GetUserList(IEnumerable<UserListData> userLists)
    {
        userListResponse.Details = userLists.ToList();
    }

    internal async Task LoadData(int pageNumber = 0)
    {
        Loader = true;
        listRequest.PageNo = pageNumber;
        listRequest.PageSize = pagingParameter.PageSize = PageSize;
        IsDeleted = listRequest.IsDeleted;

        var result = await UserHelpers.UserList(listRequest);
        if (result.meta.statusCode == StatusCodeConsts.UnAuthorized)
        {
            await localStorage.ClearAsync();
            NavManager.NavigateTo("/");
        }
        else if (result.meta.statusCode == StatusCodeConsts.Success)
        {
            userListResponse = JsonConvert.DeserializeObject<UserListResponse>(result.data);

            int i = 1;
            userListResponse.Details.ForEach(x =>
            {
                x.SrNo = (PageSize * userListResponse.Offset + i);
                i++;
            });
            if (userListResponse.Details.Count != 0)
            {
                pagingParameter.TotalCount = userListResponse.Total;
                pagingParameter.TotalPage = (int)Math.Ceiling((decimal)pagingParameter.TotalCount / PageSize);
                pagingParameter.PageNumber = userListResponse.Offset + 1;
                pagingParameter.CurrentPageNumber = pagingParameter.PageNumber;
                pagingParameter.FirstItemNumber = (PageSize * pagingParameter.PageNumber) - (PageSize - 1);
                pagingParameter.LastItemNumber = (pagingParameter.CurrentPageNumber == pagingParameter.TotalPage) ? pagingParameter.TotalCount : PageSize * pagingParameter.PageNumber;
                pagingParameter.ShowFooter = true;
                pagingParameter.ShowPageNumber = true;
            }
            else
            {
                pagingParameter.ShowFooter = false;
                pagingParameter.ShowPageNumber = false;
                pagingParameter.TotalCount = 0;
            }
        }
        else
        {
            if (result.meta.statusCode == StatusCodeConsts.Success)
            {
                userListResponse = JsonConvert.DeserializeObject<UserListResponse>(result.data);

            }
            else if (result.meta.statusCode == StatusCodeConsts.BadRequest)
            {

            }
            else
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "Something was wrong!");
        }
        Loader = false;
        StateHasChanged();
    }

    internal async void SetPage(int pagenumber)
    {
        await LoadData(pagenumber - 1);
    }

    #region Change Page Size
    public async void ChangePageSize(int pageSize)
    {
        PageSize = pageSize;
        pagingParameter.PageSize = pageSize;
        await LoadData();
    }
    #endregion

    private async Task OpenProfileDropDown()
    {
        await JsRuntime.InvokeVoidAsync("openProfileDropDown");
    }

    private async Task OnConfirmationChange(bool value)
    {
        if (!string.IsNullOrWhiteSpace(DeleteUserId) && value)
        {
            try
            {
                var result = await UserHelpers.DeleteUserApi(new BaseIdRequest { Id = new(DeleteUserId) });
                if (result != null && result.meta.statusCode == StatusCodeConsts.Success)
                {
                    await JsRuntime.InvokeVoidAsync("ShowToastr", "success", $"{result.meta.message}");
                    await LoadData();
                    NavManager.NavigateTo("/user-list");
                }
                else if (result != null && result.meta.statusCode == StatusCodeConsts.BadRequest)
                {
                    if (result.meta.message[0].Contains("User not found"))
                    {
                        await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "User not found");
                        NavManager.NavigateTo("/user-list");
                    }
                    else
                    {
                        await JsRuntime.InvokeVoidAsync("ShowToastr", "error", $"{result.meta.message[0]}");
                        return;
                    }
                }
                else
                {
                    await JsRuntime.InvokeVoidAsync("ShowToastr", "error", $"{result.meta.message[0]}");
                    return;
                }
            }
            catch (Exception)
            {
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "somthing went wrong");
                return;
            }
        }
    }
    private async void SearchData()
    {
        Loader = true;
        listRequest.Name = (listRequest.Name ?? string.Empty).Trim();

        await LoadData();

        Loader = false;
        StateHasChanged();
    }

    public async void Clear()
    {
        listRequest.Name = string.Empty;
        listRequest = new UserGetListRequest();
        await LoadData();

    }

    public async void SortBy(string sortBy)
    {
        if (!String.IsNullOrEmpty(listRequest.SortBy))
        {
            string[] search = listRequest.SortBy.Split('_');
            if (sortBy.Equals(search.First()))
                listRequest.SortBy = listRequest.SortBy.Contains("desc") ? listRequest.SortBy.Replace("desc", "asc") : listRequest.SortBy.Replace("asc", "desc");
            else
                listRequest.SortBy = $"{sortBy}_asc";
        }
        else
            listRequest.SortBy = $"{sortBy}_asc";

        await LoadData();
    }
}
