@page "/user/view/{Id}"

@using azara.admin.Helpers.Generic
@using azara.admin.Models.Base.Request
@using azara.admin.Models.Base.Response
@using azara.admin.Models.User.Request
@using azara.admin.Models.Const

<PageTitle>@AdminTitleModel.UserTitle</PageTitle>

//@if (Loader)
{
    <Loader></Loader>
}
else
{
    <div class="custom-section-wrap">
        <div class="d-flex justify-space-between align-item-center">
            <div class="page-title justify-content-center align-item-center">
                <h2 class="d-lg-block d-none">View User : </h2><h4 class="ms-1">@Title</h4>
                <span onclick="openNav()" class="d-lg-none d-block"><i class="fa fa-bars"></i></span>
            </div>
            <AdminProfile></AdminProfile>
        </div>
    </div>
    <div class="data-table-area">
        <div class="gray-bg">
            <div class="filter-area justify-end align-item-center">
                <div class="add-btn">
                    <a @onclick='e => UpdateByID(Id)' class="cancel-btn">Edit</a>
                    <a href="/user-list">Cancel</a>
                </div>
            </div>
            <form class="form-details m-t-15">
                <div class="row form-details-box">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <p>@ViewResponse.FirstName</p>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <p>@ViewResponse.LastName</p>
                        </div>
                        <div class="form-group">
                            <label>Email Id</label>
                            <p>@ViewResponse.EmailId</p>
                        </div>
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <p>@ViewResponse.MobileNumber</p>
                        </div>
                        <div class="form-group">
                            <label>Birth Date</label>
                            <p>@ViewResponse.BirthDate</p>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <p>@ViewResponse.Address</p>
                        </div>
                        <div class="form-group">
                            <label>State</label>
                            <p>@ViewResponse.State</p>
                        </div>
                        <div class="form-group">
                            <label>City</label>
                            <p>@ViewResponse.City</p>
                        </div>
                        <div class="form-group">
                            <label>ZipCode</label>
                            <p>@ViewResponse.ZipCode</p>
                        </div>

                        <div class="form-group">
                            <label>Sign Up Date</label>
                            <p>@ViewResponse.Created.ToString("dd/MM/yyyy")</p>
                        </div>
                        <div class="form-group">
                            <label>Points</label>
                            <p>@ViewResponse.Points</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>User Image</label>
                            <div id="file-upload-form" class="uploader">
                                <label for="file-upload" id="file-drag">
                                    <img src="@ViewResponse.Image" id="file-image" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private bool Loader { get; set; } = true;
    public string Title { get; set; } 
    UserInsertUpdateRequest ViewResponse { get; set; } = new UserInsertUpdateRequest();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await localStorage.GetItemAsync<string>("token");
            if (token != null && token != string.Empty && token == TokenResponse.Token)
            {
                await LoadData();
                Loader = false;
            }
            else
            {
                await localStorage.ClearAsync();
                NavManager.NavigateTo("/");
            }
            StateHasChanged();
        }
    }

    private async Task LoadData()
    {
        Loader = true;
        if (!string.IsNullOrWhiteSpace(Id))
        {
            Id = GenericHelper.Decipher(Id, 3);
            ViewResponse.Id = Id;
            Loader = false;
            var result = await UserHelpers.UserGetById(new BaseIdRequest { Id = new(Id) });
            if (result.meta.statusCode == StatusCodeConsts.Success)
            {
                ViewResponse = JsonConvert.DeserializeObject<UserInsertUpdateRequest>(result.data);
                Title = ViewResponse.FirstName;
            }
            else if (result.meta.statusCode == StatusCodeConsts.BadRequest)
            {
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "User not found");
                return;
            }
            else
            {
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "Something went wrong");
                return;
            }
        }
    }

    internal void UpdateByID(string id)
    {
        int key = 3;
        var cipheredId = GenericHelper.Encipher(id, key);
        NavManager.NavigateTo($"/user/update/{cipheredId}");
        StateHasChanged();
    }
}

