@page "/contact-us"

@layout LoginLayout
<PageTitle>@ClientTitleModel.ContactUsTitle</PageTitle>


@if (Loader == true)
{
       <!-- Preloader Start -->
  <div id="preloader">
    <div class="main-container">
      <!-- Circle animation img start -->
      <img src="./images/Azara_Pattern_Animation.svg" class="loader-circle img-fluid">
      <!-- Circle animation img end -->
  
      <!-- Azara logo start -->
      <div class="center-logo">
        <img src="images/azara-logo.svg" class="img-fluid logo" alt="Azara Logo">
      </div>
      <!-- Azara logo end -->
    </div>
  </div>
  <!-- Preloader End -->
}
else
{
    <main>
        <!-- Top Back Panel start -->
        <div class="position-fixed top-0 start-0 end-0 container">
            <div class="back-panel d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center justify-content-start">
                    <a onclick="backButton()" class="back"><img src="images/back-arrow.svg" class="img-fluid" alt="Back"></a>
                    <h1>
                        Contact Us
                    </h1>
                </div>
            </div>
        </div>
        <!-- Top Back Panel end -->
        <!-- Contact Us start -->
        <section class="contact-us login-details change-pwd-section common-padding position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-6 col-xl-4 mx-auto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet enim velit nec at. Pellentesque urna, sed et euismod morbi sodales senectus.</p>
                        <EditForm Model="contactUsRequest" OnValidSubmit="SendRequest">
                            <DataAnnotationsValidator />
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="fname" class="form-label">Your Name</label>
                                    <input type="text" @bind-value="contactUsRequest.Name" class="form-control" id="fname" placeholder="Enter Your Name">
                                    <ValidationMessage For="@(() => contactUsRequest.Name)" />
                                </div>
                                <!-- col -->
                                <div class="form-group col-12">
                                    <label for="email" class="form-label">Email Address</label>
                                    <input type="email" @bind-value="contactUsRequest.EmailId" class="form-control" id="email" placeholder="Enter Email Address">
                                    <ValidationMessage For="@(() => contactUsRequest.EmailId)" />
                                </div>
                                <!-- col -->
                                <div class="form-group col-12 pb-3">
                                    @*<label for="productdesc" class="form-label">Contact Description (optional)</label>*@
                                    <label for="productdesc" class="form-label">Description</label>
                                    <InputTextArea @bind-Value="@contactUsRequest.Description" class="form-control" placeholder="Write here" id="productdesc"></InputTextArea>
                                    <ValidationMessage For="@(() => contactUsRequest.Description)" />
                                </div>
                                <!-- col -->
                                <div class="col-12">
                                    <button type="submit" class="btn btn-common">Submit<span></span></button>
                                </div>
                                <!-- col -->
                            </div>
                        </EditForm>
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
        </section>
        <!-- Contact Us end -->
    </main>
}
<!--******************* Middle Section End ******************-->

@code {
    #region Declrations

    string token, userId;
    bool Loader = true;

    #endregion

    ContactUsRequest contactUsRequest = new ContactUsRequest();

    protected override async Task OnInitializedAsync()
    {
        var token = await localStorage.GetItemAsync<string>("token");
        userId = await localStorage.GetItemAsync<string>("userId");
        TokenResponse.Token = token;
        if (token != null && token != "" && token == TokenResponse.Token)
        {
             Loader = false;            
        }
        else
        {
            NavManager.NavigateTo("/homelanding");
        }
    }

    internal async Task SendRequest()
    {
        Loader = true;
        var result = await AccountHelpers.ContactUs(contactUsRequest);
        if (result.meta.statusCode == StatusCodeConsts.Success)
        {
            NavManager.NavigateTo("/index");
        }
        else if (result.meta.statusCode == StatusCodeConsts.BadRequest)
        {
            NavManager.NavigateTo("/contact-us");
        }
        else
            await JsRuntime.InvokeVoidAsync("ShowToastr", "success", $"{Loc["response_request_performed_successfully"]}");
        Loader = false;
    }
}
